<div class="max-w-md mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-4">New Expense</h1>
  <%= form_with(model: @expense, local: true) do |form| %>
    <% if flash[:error] %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <span class="block sm:inline"><%= flash[:error] %></span>
      </div>
    <% end %>
    <%= form.hidden_field :timezone, id: 'user_timezone' %>
    <div class="mb-4">
      <%= form.label :amount, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :amount, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
    </div>
    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
    </div>
    <div class="mb-4">
      <%= form.label :datetime, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.datetime_field :datetime, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight", value: DateTime.now, include_seconds: false %>
    </div>
    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
    </div>
    <div class="mb-4">
      <%= form.label :category, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :category, ExpenseConstants::CATEGORIES, { include_blank: true }, { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" } %>
    </div>
    <div class="mb-6">
      <%= form.submit "Create Expense", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
  <%= link_to "Back", expenses_path, class: "text-gray-500 hover:text-gray-700" %>
</div>

<%= javascript_include_tag 'new_expense' %>
